APP_NAME="V Secretum"
APP_ICON="./assets/vonly.png"
ANDROID_PACKAGE="com.vrushabhgawas.v_secretum"
EXPO_PUBLIC_WEB_CLIENT_ID=""

EXPO_PUBLIC_LOCAL_BACKEND="http://localhost:3001"
EXPO_PUBLIC_DEPLOYED_BACKEND=""
EXPO_PUBLIC_SECRET_SALT=""

REACT_NATIVE_PACKAGER_HOSTNAME=10.39.0.1 ".env.local"